---
import Header from "@/components/Header.astro";
import ThemeLoader from "@/components/ThemeLoader.astro";
import "@/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Brian Uribe" />
    <meta
      name="description"
      content="Fullstack developer and tech enthusiast. I love coding and learning new things. Discover my projects and get to know more"
    />
    <meta
      name="keywords"
      content="Brian Uribe, Brian, Uribe, brianuribe, brianuribe6, Programming, coding, Software Engineer, Learn Web Development, React, TypeScript"
    />
    <title>{title}</title>
    <ThemeLoader />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
